body{
        font-family: 'Playfair Display', serif, 'Quicksand', sans-serif;
        background-image: url("/static/images/form-pic.jpg") ;
        background-size: cover;
        background-position: no-repeat;
        width: auto;
        height: auto;
}


