asgiref==3.9.2
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.7
filelock==3.18.0
fsspec==2025.5.1
gpt4all==2.8.2
gunicorn==23.0.0
huggingface-hub==0.33.2
idna==3.10
packaging==25.0
pillow==11.3.0
python-decouple==3.8
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
